html{
    font-size: 100%;
}

#body{
    background-color: linear-gradient(#2f2fa2 #242582);
}


h1{
    text-align: center;
}

.margins{
    margin: 1rem;
    margin-bottom: 1rem;
}

p{
    text-align: center;
}

.text{
    font-size: clamp(0.5rem, 1vw + 1rem, 2rem);
    color: white;
    font-family: impact, sans-serif;
}


.textUnderline{
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #f64c72;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.action-button{
    font-family: impact, sans-serif;
    margin: 1rem;
    background-color: none;
    color: #f64c72;
    padding: 20px;
    border-style: solid;
    border-color: #f64c72;
    border-width: 5px;
}

.action-button:hover{
    font-family: impact, sans-serif;
    margin: 1rem;
    background-color: none;
    color: #f64c72;
    background-color: rgba(246,76,114, 0.2);
    padding: 20px;
    border-style: solid;
    border-color: #f64c72;
    border-width: 5px;
}

.shape {
  position: absolute;
  width: 1600px;
  height: 1500px;
  background: rgba(26, 28, 95, 0.1);
  border-radius: 50%;
  top: 0;
  right: 0;
  z-index: -1;
  top: -60%;
  right: -20%; 
}







