<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../public/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/foundation.css"/>
	<title>TEMP</title>
	</head>
	<body class="grid-x" style="background-color: #2f2fa2">
		<div class="cell small-12 large-12 columns;">
			<h1 class="margins; text" style="font-size: 4rem; margin-top: 2rem;">
				Renewable Energy Around The World
			</h1>
		</div>
		<div class="cell medium-12 large-6 columns; grid-y">
			<div class="grid-y">
				<div class="cell large-10 rows; margins" style="align-items: center;">
					<img src="$$IMAGE$$" alt="$$DESCRIPTION$$"/>
				</div>
				<div class="cell large-4 rows">
					<p class="margins; text">
						$$PARAGRAPH$$
					</p>
				</div>
			</div>
		</div>
		<div class="cell medium-12 large-6 columns">
			<div class="grid-y">
				<div class="cell large-3 rows; margins" style="text-align: center; font-size: 2rem">
					<p class="text">
						$$TITLE$$
					</p>
				</div>
				<div class="cell large-1 rows">
					<div class="margins" style="float: left">
						<button class="button" type="button">Previous</button>
					</div>
					<div class="margins" style="float: right;">
						<button class="button" type="button">Next</button>
					</div>
				</div>
				<div class="cell large-4 rows; margins" style="text-align: center; font-size: 2rem">
					<div class="text">
						$$TABLE$$
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
